*{
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}

body,html{
  height: 100%;
  font-family: sans-serif;
}

.keys{
  margin-top: 20%;
  background: url('images/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-around;
  flex-flow:wrap ;
}
.keys { 

  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  box-sizing: border-box;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all 0.07s;
  width: 100px; 
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}
.key:hover{
  opacity: .7;
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ff4400;
}
.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

h1 {
  display: block;
  font-size: 4rem;
  color: blanchedalmond;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}

